$font-light = "opensans-light", sans-serif
$font = "opensans-regular", sans-serif
$font-semibold = "opensans-semibold", sans-serif
$font-bold = "opensans-bold", sans-serif

$main-color = #7e7e7e
$alt-color = #d42819
