$font-light = "opensans-light", sans-serif
$font = "opensans-regular", sans-serif
$font-semibold = "opensans-semibold", sans-serif
$font-bold = "opensans-bold", sans-serif

$main-color = #7e7e7e
$title-color = #4f4e4e
$text-color = #494848
$alt-color = #d42819

$max-width = "(min-width: 972px)"
$middle-width = "(min-width: 726px)"
//@media #{$middle-width}

