doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel='stylesheet', href='css/style.css')
		title bright - gallery
	body
			div.main-header-wrapper
				header.main-header
					div.main-header__logo
					div.main-header__main-menu
						ul.main-header__list
							li.main-header__list-item.active
								a.main-header__list-link(href="#") Home
							li.main-header__list-item 
								a.main-header__list-link(href="#") Portfolio
							li.main-header__list-item 
								a.main-header__list-link(href="#") Support
							li.main-header__list-item 
								a.main-header__list-link(href="#") Blog
							li.main-header__list-item 
								a.main-header__list-link(href="#") Contact
					div.main-header__social-menu
						ul.main-header__social-list
							li.main-header__social-item
								a.main-header__social-link.facebook(href="#")
							li.main-header__social-item
								a.main-header__social-link.twitter(href="#")
							li.main-header__social-item
								a.main-header__social-link.dribbble(href="#")
							li.main-header__social-item
								a.main-header__social-link.behance(href="#")
							li.main-header__social-item
								a.main-header__social-link.google-plus(href="#")
							li.main-header__social-item.rss
								a.main-header__social-link.rss(href="#")
			section.main-content
				h1.main-content__main-title 
					| Welcome! This is 
					span Bright
					| , a very clean Wordpress psd file theme That makes it easy to showcase your work
				div.main-content__filter
					ul.main-content__filter-list
						li.main-content__filter-item
							a.main-content__filter-link.active(href="#") All
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Painting
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Traditional
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Vector
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") 3d
				div.main-content__gallery
					div.main-content__gallery-wrapper
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
						div.main-content__gallery-item
							h3.main-content__gallery-title Etiam ullamcorper
							div.main-content__gallery-type Graphic design 
							div.main-content__gallery-image
				div.main-content__paginator
					ul.main-content__paginator-list
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link to-start")
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link prev")
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link active") 1
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 2
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 3
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 4
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 5
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 6
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 7
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 8
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 9
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 10
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link") 11
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link next")
						li.main-content__paginator-item
							a(href="#" class="main-content__paginator-link to-end")
			footer.main-footer
				div.main-footer__wrapper
					div.main-footer__find
						h3.main-footer__title Find Something
						p.main-footer__text Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
						div.main-footer__find-wrapper
							input(type="search" class="main-footer__input" placeholder="Looking for something?")
							button.main-footer__button Go
					div.main-footer__info
						h3.main-footer__title Information
						p.main-footer__text  Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. 
						p.main-footer__text  Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. 
					div.main-footer__search
						h3.main-footer__title Search by
						div.main-footer__search-column
							ul.main-footer__search-list
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Maecenas (2)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Curabitur et ligula (12)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Ut molestie (3)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Pellentesque facilisis (1)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Curabitur et ligula (12)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Maecenas (2)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Ut molestie (3)
						div.main-footer__search-column
							ul.main-footer__search-list
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Maecenas (2)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Curabitur et ligula (12)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Ut molestie (3)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Pellentesque facilisis (1)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Curabitur et ligula (12)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Maecenas (2)
								li.main-footer__search-item
									a(href="#" class="main-footer__search-link") Ut molestie (3)			
				div.main-footer__design  Design by Webvilla.pl 2012
		
	