doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel='stylesheet', href='css/style.css')
		title bright - gallery
	body
			div.main-header-wrapper
				header.main-header
					div.main-header__logo
					div.main-header__main-menu
						ul.main-header__list
							li.main-header__list-item.active
								a.main-header__list-link(href="#") Home
							li.main-header__list-item 
								a.main-header__list-link(href="#") Portfolio
							li.main-header__list-item 
								a.main-header__list-link(href="#") Support
							li.main-header__list-item 
								a.main-header__list-link(href="#") Blog
							li.main-header__list-item 
								a.main-header__list-link(href="#") Contact
					div.main-header__social-menu
						ul.main-header__social-list
							li.main-header__social-item
								a.main-header__social-link.facebook(href="#")
							li.main-header__social-item
								a.main-header__social-link.twitter(href="#")
							li.main-header__social-item
								a.main-header__social-link.dribbble(href="#")
							li.main-header__social-item
								a.main-header__social-link.behance(href="#")
							li.main-header__social-item
								a.main-header__social-link.google-plus(href="#")
							li.main-header__social-item.rss
								a.main-header__social-link.rss(href="#")
			section.main-content
				h1.main-content__main-title 
					| Welcome! This is 
					span Bright
					| , a very clean Wordpress psd file theme That makes it easy to showcase your work
				div.main-content__filter
					ul.main-content__filter-list
						li.main-content__filter-item
							a.main-content__filter-link.active(href="#") All
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Painting
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Traditional
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") Vector
						li.main-content__filter-item /
						li.main-content__filter-item
							a.main-content__filter-link(href="#") 3d
				div.main-content__gallery
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
					div.main-content__gallery-item
						h3.main-content__gallery-title
						div.main-content__gallery-type
						div.main-content__gallery-image
				div.main-content__paginator
			footer.main-footer
				div.main-footer__wrapper
					div.main-footer__find
					div.main-footer__info
					div.main-footer__search
				div.main-footer__creator
		
	