.main-footer
	container()
	

.main-footer__wrapper
	
	display flex
	flex-wrap wrap
	justify-content space-around
	margin-bottom 73px

.main-footer__find
	
	width 267px
	
	
.main-footer__find input
	padding 0
	border none
	width 213px
	height 32px
	background-color rgba(62, 60, 61, 0.2)
	border-left 1px solid #bcbbbb
	border-top 1px solid #bcbbbb
	padding-left 12px
	margin-right 7px
	font-family $font
	font-style: italic;
	color $alt-color

.main-footer__find button
	width 38px
	height 32px
	border none
	paddding 0
	border-left 1px solid #bcbbbb
	border-top 1px solid #bcbbbb
	background-color rgba(62, 60, 61, 0.2)
	font-family $font
	font-style italic
	color $alt-color
	text-transform uppercase
	cursor pointer

.main-footer__title
	font-family $font
	font-size 16px
	color #494848
	text-align center
	padding: 20px 0;
	background-color white
	box-shadow 0px 0px 14px 1px rgba(110,107,110, 0.2)
	margin-bottom 23px

.main-footer__text
	font-family $font
	color #494848
	font-size 12px
	margin-bottom 26px

.main-footer__info
	
	width 267px	
	
.main-footer__search
	
	width 277px
	
.main-footer__search-column
	display inline-block
	margin-right 9px
	&:last-child
		margin-right 0
	
.main-footer__search-list
	unstyledlist() 
	
.main-footer__search-item
	margin-bottom 13px

.main-footer__search-link
	font-family $font
	font-size 12px
	font-style italic
	color $text-color
	border-bottom: 1px dashed $text-color
	padding-bottom: 4px
	transition-duration 0.3s
	&:hover
		color $alt-color
		
.main-footer__design
	font-family $font
	font-size 12px
	line-height 12px
	color $text-color
	text-align right
	border-top 1px solid #b7b6b6
	padding-top 17px
	margin-bottom 80px
	
