.main-header-wrapper
	background-color white
	box-shadow 0px 0px 26px -3px rgba(110,107,110, 0.3)

.main-header
	container()
	clearfix()
	position relative
	margin-top 105px
	padding-left 120px
	padding-top 26px
	padding-bottom 23px
	margin-bottom 80px
	background-color white
	
.main-header__logo
	position absolute
	width 120px
	height 120px
	top -11px
	left 10px
	background url(../img/header-logo.png) 0 0 no-repeat
	float: left
	
.main-header__main-menu
	float: left
	margin-left 7%

.main-header__list
	unstyledlist()
	font-size 0

.main-header__list-item
	display inline-block
	vertical-align top
	margin-right 17px
	font-family $font
	font-size 18px
	line-height 18px
	text-transform uppercase
	color $main-color
	&:last-child
		margin-right 0

.main-header__list-link
	display block
	padding 12px 0
	color $main-color
	transition-duration 0.3s
	&:hover
		color $alt-color
	
.main-header__social-menu
	display none
	float: right

.main-header__social-list
	unstyledlist()
	font-size 0
	
.main-header__social-item
	display inline-block
	vertical-align top
	margin-right 7px
	margin-top: 8px
	&:last-child
		margin-right 0

.main-header__social-link
	display block
	width 26px
	height 27px
	
.main-header__social-link.facebook
	background url('../img/sprite.png') -159px -5px no-repeat
	
.main-header__social-link.twitter
	background url('../img/sprite.png') -291px -5px no-repeat

.main-header__social-link.dribbble
	background url('../img/sprite.png') -124px -5px no-repeat
	
.main-header__social-link.behance
	background url('../img/sprite.png') -41px -5px no-repeat
	
.main-header__social-link.google-plus
	background url('../img/sprite.png') -194px -5px no-repeat
	
.main-header__social-link.rss
	background url('../img/sprite.png') -256px -5px no-repeat


@media $middle-width
	.main-header__list-item
		margin-right 35px
		


@media $max-width
	.main-header__social-menu
		display block
	

	 
	 